Release
/backupmsoutlook.Schedule/obj
/backupmsoutlook.Schedule/bin/Debug/Microsoft.Win32.TaskScheduler.dll
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Schedule.vshost.exe.manifest
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Schedule.vshost.exe.config
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Schedule.vshost.exe
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Schedule.pdb
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Schedule.exe.config
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Schedule.exe
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.pdb
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Library.pdb
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.Library.dll
/backupmsoutlook.Schedule/bin/Debug/backupmsoutlook.exe
/backupmsoutlook.Schedule/bin/Debug/Libraries
/backupmsoutlook.Schedule/bin/Debug/Microsoft.Win32.TaskScheduler.xml
/backupmsoutlook.Library/obj
/backupmsoutlook.Console/obj
/backupmsoutlook.Console
